footer{
	background:	#36367d;
	width: 100%;
	height: 40px;
	bottom: 0;
	text-align: center;
	border-top: 6px solid black;
}



.footerWord{
	color: white;
    padding-top: 5px;
    margin: 0;
	font-size: 15px;
}