.footer{
	background-color: #36367d;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 6px solid black;
}

.footerContainer {
	position: relative;
}

.footer p{
	color: white;
	text-align: center;
    padding: 0;
    margin: 0;
	font-size: 15px;
}