.header {
    background-image: url("../Images/brickbackground.jpg");
    background-repeat: repeat;
    color: #fff;
    min-height: 200px;
    padding: 150px 20px;
    padding-bottom: 75px;
    text-align: left;
    display: block;
}

.headerMain {
    height: 200px;
    border: 6px solid black;
    background-image: url("../Images/booksbackground.jpg");
}

.headerh1 {
    font-size: 3.0em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.headerh2 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
}

